@media (max-width: 1024px) {
  .header {
    &-navbar {
      .navbar-brand {
      }
    }
  }

  .section {
    padding-top: 40px;
    padding-bottom: 40px;
    position: relative;
  }

  .home {
    &-carousel {
      position: relative;
      z-index: 1;
      min-height: 400px;

      .container {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .row {
        justify-content: center;
      }

      .mt-5 {
        margin-top: 0 !important;
        text-align: center;
      }

      h1 {
        font-size: 30px;
        line-height: 30px;
        text-align: center;
      }

      &-nav {
        display: none;
      }
    }

    .section {
      &-choose {
        .choose-item {
          justify-content: flex-start;
        }
      }

      &-call {
        .row {
          .col-md-3 {
            text-align: center;
          }
        }
      }

      &-case {
        .carousel {
          .container {
            width: 80%;
          }
        }
      }

      &-clients {
      }
    }
  }
}
